.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: #fffeed31;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
}

.project-detail .snsmaintitle {
  position: relative;
  left: -350px;
  margin-top: 50px;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 5px;
  font-family: "Libre Baskerville", serif;
}

.project-detail .snsintroduction {
  gap: 650px;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 50px;
}
.project-detail p {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  text-align: center;
  margin-bottom: 30px;
}

.snsgithuburl {
  display: flex;
  justify-content: center;
}

.snsgithuburl a {
  margin-bottom: 30px;
  align-items: center;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  color: #000000;
  width: auto;
  height: auto;
  padding: 10px;
}
.snsgithuburl a:hover {
  text-decoration: none;
  color: #003366;
  padding: 10px;
  border-radius: 10%;
  transition: background-color 0.3s ease, color 0.5s ease;
}

.image-container {
  margin: 0px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Snsweb-img-width {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
}

.webexplanation {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 26px; /* 폰트 크기 증가 */
  text-align: center;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 0 20px rgba(252, 146, 146, 0.6); /* 텍스트 그림자 강도 증가 */
  padding: 20px;
  border-radius: 10px; /* 테두리 둥글게 처리 */
}

.snswebexplanationsub {
  width: 1000px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px; /* 폰트 크기 */
  text-align: center;
  color: #000000; /* 텍스트 색상 변경 */
  line-height: 1.8; /* 줄 간격 조정 */
  padding: 20px;
  border-radius: 10px;
}

/* 웹이미지 */

.phone-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Snsweb-img-height {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}
.phoneexplanation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-size: 24px;
}

/* 반응형이미지 */

.left-click {
  position: absolute;
  background-color: #ffffffb6;
  color: #000000;
  font-size: 40px;
  left: -25px;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-click {
  position: absolute;
  background-color: #ffffffb6;
  color: #000000;
  font-size: 40px;
  right: -25px;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-click:hover,
.right-click:hover {
  background-color: #00000067;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* 화살표 클릭 */
.left-click-area,
.right-click-area {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 49%;
  cursor: pointer;
}

.left-click-area {
  left: 20px;
}

.right-click-area {
  right: 0;
}

.left-click-area:hover,
.right-click-area:hover {
  background-color: #00000000;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* 이미지클릭 웹 */

.left-click-area-ph {
  left: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  cursor: pointer;
}
.right-click-area-ph {
  right: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  cursor: pointer;
}

.left-click-area-ph:hover,
.right-click-area-ph:hover {
  background-color: #00000000;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.left-click-ph {
  position: absolute;
  background-color: #ffffffb6;
  color: #000000;
  font-size: 40px;
  left: 320px;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-click-ph {
  position: absolute;
  background-color: #ffffffb6;
  color: #000000;
  font-size: 40px;
  right: 320px;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-click-ph {
  position: absolute;
  background-color: #ffffffb6;
  color: #000000;
  font-size: 40px;
  left: 320px;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-click-ph:hover,
.left-click-ph:hover {
  background-color: #00000067;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 이미지클릭 반응형 */

.beforepage {
  font-family: "Jua", sans-serif;
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 17px;
  border: none;
  color: #000000;
  background-color: #ffffff00;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.beforepage:hover {
  background-color: #00000067;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skilltitle {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
}

.snsskilletools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.tech-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.tech-image:hover {
  transform: scale(1.1);
}

.tech-image-aws {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.tech-image-aws:hover {
  transform: scale(1.1);
}
