/* .noto-sans {
  font-family: "Noto Sans KR", sans-serif;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
} */

p {
  margin: 10px 0px;
  color: #ffffffc7;
}

span {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.377);
}

.about-me {
  width: 100%;
  letter-spacing: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2c3e5021;
}

.about-me .aboutmelogo {
  position: absolute;
  font-size: 1.25rem;
  color: #b3907a;
  margin-right: 15px;
  margin-bottom: 20px;
  top: 950px;
  align-self: flex-end;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  font-size: 1.5rem;
}

.abouttitle {
  font-size: 30px;
  margin-bottom: 25px;
  color: #171c20;
}

/* ----------about ------------ */

.contact {
  margin-left: 200px;
  font-size: 20px;
  display: flex;
  align-items: center;
  background: rgba(82, 15, 15, 0);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.aboutimage {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 100px;

  margin-right: 25px;
}

.contact .usericon,
.birthicon,
.email,
.git {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 7px;
  vertical-align: middle;
}

.contact .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

/* ----------contact ------------ */
.education {
  margin-left: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(82, 15, 15, 0);
  border-radius: 10px;
  text-align: left;
  white-space: nowrap;
}

.educationmain {
  color: #ffffff;
}

.educationmiddle {
  font-size: 16px;
  color: #ebebebfb;
}
.educationlast1 {
  font-size: 16px;
  color: #ebebebfb;

  margin-bottom: 50px;
}
.educationlast {
  font-size: 16px;
  color: #ebebebfb;
}

/* ----------education ------------ */
.gotobox {
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gotoskills {
  color: #ffffff;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  padding: 10px;
  border-radius: 30%;
}

.gotoskills:hover {
  color: #ffe293;
}

/* ---------- gotobox ------------ */

.experience {
  font-size: 20px;
  margin-top: 100px;
  margin-left: 200px;
  align-items: flex-start;
  justify-content: center;
  background: rgba(82, 15, 15, 0);
  border-radius: 10px;
  text-align: left;
  white-space: nowrap;
}

.experience-goal {
  font-size: 18px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
}

/* ----------experience ------------ */

.abouttitle {
  font-size: 30px;
  margin-bottom: 25px;
  color: #171c20;
}

.experiencetitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}
