.home {
  font-family: "jua", sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2b6b6823;
  color: white;
  overflow: hidden;
}

.home h1 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.911);
}
.home .first-line {
  text-shadow: 0 0 20px rgba(255, 155, 155, 0.897);
  font-weight: 600;
  color: #000000c9;
  font-size: 1.35rem;
  line-height: 1.8;
  letter-spacing: 1px;
}

.home p {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.151);
  font-weight: 400;
  color: #000000c9;
  font-size: 1.35rem;
  line-height: 1.8;
  letter-spacing: 1px;
}
