.navbar {
  font-family: "Libre Baskerville";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.493);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease, background-color 0.3s ease, width 0.5s ease;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, background-color 0.7s ease, width 0.5s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 10px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  padding: 10px;
}

.nav-links a:hover {
  color: #ffa1a1;
}

.navbar .nav-links {
  flex-direction: row;
}

.navbar.scrolled .nav-links {
  flex-direction: column;
}

.nav-links a:hover {
  color: #ffa1a1;
}
