.noto-sans {
  font-family: "Noto Sans KR", sans-serif;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

.about-me *:lang(ko) {
  font-family: "Noto Sans KR", sans-serif;
}

.about-me *:lang(en) {
  font-family: "Jua", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;

  min-height: 100vh;
  background: linear-gradient(rgba(184, 236, 212, 0), rgba(0, 0, 0, 0.3)),
    url("../public/images/dullgreen.jpg") center/cover no-repeat;
  background-size: cover;
}

.finishlineButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  font-size: 22px;
  background-color: #0c5a5450;
  border: none;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
